<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Notice</title>
</head>

<body>
    <!--<h1>Hello, world!</h1>-->
    <h1>Notice</h1><br>
    <form action="/readquickly/admin/notice" method="post">
        <div class="form-group">
            <label for="exampleFormControlInput1">Title</label>
            <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="title">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Source</label>
            <input type="text" name="source" class="form-control" id="exampleFormControlInput2" placeholder="source">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Href</label>
            <input type="text" name="href" class="form-control" id="exampleFormControlInput3" placeholder="href">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Picture</label>
            <input type="text" name="pic" class="form-control" id="exampleFormControlInput4" placeholder="pic">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Expires:</label>
            <input type="text" name="expires" class="form-control" id="exampleFormControlInput5" placeholder="expires">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">text</label>
            <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>